In [ ]:
# Import pandas, sqlalchemy, matplotlib and config file
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import username, pw

In [ ]:
# Create an engine that can talk to the database
# pip intall psycopg2
engine = create_engine(f'postgresql+psycopg2://{username}:{pw}@localhost/sql_homework')
conn = engine.connect()

In [ ]:
# Retrieve salary data
salary_data = pd.read_sql("SELECT * FROM salaries", conn)
salary_data = salary_data.dropna()
salary_data.head()

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees.
hist = salary_data.hist(column = 'salary', bins=20, figsize = (10,5))

plt.title("Salary Ranges for Employees")
plt.xlabel("Salary Range($)")
plt.ylabel("Number of Employees")

In [ ]:
# Retrive title data
title_data = pd.read_sql("SELECT * FROM titles", conn)
title_data.head()

In [ ]:
# Merge salary data and title data
merged_data  = pd.merge(salary_data, title_data, on = 'emp_no', how = 'inner', suffixes = ('_s','_t'))
merged_data

In [ ]:
# Retrieve average salary by title
avg_salary = merged_data.groupby('title')['salary'].mean()
avg_salary

In [ ]:
# Create a bar chart of average salary by title.
avg_salary.plot(kind = 'bar',figsize = (10,5))
plt.title("Average Salary by Title")
plt.xlabel("Title")
plt.ylabel("Average Salary ($)")